.forgotpassword{
    min-height: 100vh;
    position: relative;
}

.bg{
    position:absolute;
    width: 100%;
    height:100%;
    background:rgb(8, 168, 189);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 90%, 0 0);
}

.logo h2, .logo h3{
    margin:0;
    padding:0;
    color: #FFFFFF;
    text-transform: uppercase;
}

.logo h3{
    font-weight: bold;
    margin-bottom: -5px;
}

.logo a{
    text-decoration: none !important;
}

.heading{
    font-size: 1.3rem;
    color:#FFFFFF;
}

.bullets{
    font-size: 0.9rem;
    color:#FFFFFF;
}

.info span{
    font-size: 1rem;
    color:#FFFFFF;
}

.info ul{
    margin:0;
    color:#FFFFFF;
    margin-top:15px;
    padding-left:15px;
    font-size: .8rem;
}

.formCard{
    padding:20px 30px;
    width:100%;
    max-width:450px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}

.formCard h2{
    margin-bottom: 1em;
    color:rgb(252, 112, 47);
}

.input:focus{
    outline:none !important;
    box-shadow: none !important;
    border: 1px solid #333333;
}
.backBtn{
    width:auto !important;
    float: left;
}
.backBtn a{
    text-decoration: none !important;
    font-size: 2em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    transition: .3s ease;
    width: auto !important;
}

.backBtn a:hover{
    color:#dddddd;
}

.button{
    padding:10px 20px;
    background:rgb(236, 60, 60);
    font-size: 1.3rem;
    color:#FFFFFF;
    border-radius: 8px;
}

.button:focus{
    background:rgb(230, 52, 52);
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.button:hover{
    background:rgb(230, 52, 52);
    color: #FFFFFF;
}
.clearBtn{
    margin-left:10px;
}
.clearBtn:hover{
    color:rgb(230, 52, 52);
}
.clearBtn:focus{
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}
