.mastheadBtn {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
  background-color: #f4623a;
}

.mastheadBtn:hover {
  background-color: #f24516;
}

.textWhite75 {
  color: rgba(255, 255, 255, 0.75);
}
