.bannerTitle{
  font-size: 0.8rem;
  color:red;
}
@media (max-width: 360px) {
  .bannerTitle{
    font-size: 2rem !important;
  }
}
.subTitle{
  font-size: 1.5rem;
}
.scrollToTop{
  background-color: #444444 !important;
  height:55px;
  width: 55px;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border:none;
}

.scrollToTop:hover {
  background: #333333 !important;
}

.scrollToTop:focus{
  outline:none !important;
  border: none !important;
  box-shadow: none !important;
}
